

@keyframes wave {
    0% {
        transform: translate(-61% ,0%) rotate(-90deg);
    }
    25% {
        transform: translate(-61% ,-30%) rotate(-90deg);
    }
    50% {
        transform: translate(-61%, -60%) rotate(-90deg);
    }
    75% {
        transform: translate(-61%, -30%) rotate(-90deg);
    }
    100% {
        transform: translate(-61%, 0%) rotate(-90deg);
    }
}

@keyframes wave2 {
    0% {
        transform: translate(-61%, 0%) rotate(-90deg);
    }
    25% {
        transform: translate(-61%, 30%) rotate(-90deg);
    }
    50% {
        transform: translate(-61%, 60%) rotate(-90deg);
    }
    75% {
        transform: translate(-61%, 30%) rotate(-90deg);
    }
    100% {
        transform: translate(-61%, 0%) rotate(-90deg);
    }
}

@keyframes fill {
    0% {
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

#menu {
    transition: 0.3s ease-in-out;
}



@media only screen and (min-width: 1024px) {
    .navigation-bar {
        width: 80%;
        height: 70px;
        background: rgb(255, 255, 255);
        box-shadow: 0px 4px 20px -10px rgb(78, 78, 78);
        border-radius: 14px;
        position: fixed;
        margin-top: 20px;
        left: 10%;
        padding-left: 20px;
        display: flex;  
        font-family: inter;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        z-index: 10;
    }
    
    .left-side-nav {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .right-side-nav {
        width: 50%;
        display: grid;
        height: 100%;
        align-items: center;
        justify-content: end;
        animation-name: fill;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        background: #6FAC2D;
    }

    .wave-nav {
        margin-right: 105%;
        position: absolute;
        width:  140px;
        animation-name: wave;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .wave-nav-2 {
        margin-right: 105%;
        position: absolute;
        width:  140px;
        animation-name: wave2;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    .menu {
        color: white;
        display: absolute;
        margin-right: 20px;
        z-index: 999;
    }

    .menu > a{
        text-decoration: none;
        color: white;
        margin-left: 10px;
        margin-right: 10px;
    }

    #tombol-masuk, #tombol-profile {
        margin-left: 30px;
        margin-right: 0px;
        background: white;
        padding-top: 0px;
        padding-bottom: 4px;
        color: #6FAC2D;
        border-radius: 3px;
        text-align: center;
        padding: 6px;
        justify-self: self-end;
        border: none;
        font-family: inter;
        font-size: 16px;
    }

    #tombol-daftar {
        justify-self: self-end;
        background: none;
        border: none;
        font-family: inter;
        color: white;
        font-size: 16px;
    }

    #tombol-daftar:hover, #tombol-masuk:hover {
        cursor: pointer;
    }
    
    .modal {
        position: fixed;
        min-width: 400px;
        min-height: 400px;
        padding-top: 30px;
        padding-bottom: 30px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;
        background: rgb(255, 255, 255);
        border-radius: 8px;
        box-shadow: 0px 0px 20px -10px gray;
        transition: ease-in-out 0.2s;
        transform-origin: 0 0;
    }
    
    .modal > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    
    .modal > div > div,  .modal > div > a {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .modal > div > a {
        padding: 10px;
        background: #6FAC2D;
        border: none;
        border-radius: 4px;
        font-family: inter;
        color: white;
        text-decoration: none;
        box-sizing: border-box;
    }
    
    .modal > div > h2 {
        color: #333333;
        margin: 20px;
    }
    
    
    .modal > div > div > input{
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        border: #DDDDDD 1px solid;
        border-radius: 4px;
        font-family: inter-medium;
        color: #757575;
        font-size: 14px;
    }
    
    .modal > div > p {
        font-size: 14px;
        font-family: inter-medium;
        margin: 4px;
    }
    
    .modal > div > p > button {
        background: none;
        border: none;
        font-family: inter;
        margin-left: 2px;
        padding: 0px;
    }
    
    .input-field > p{
        margin: 0px;
        align-self: self-start;
        color: #666666;
        margin-bottom: 6px;
        font-size: 14px;
    }
    
    .blur {
        filter: blur(5px);
    }

    #login-modal, #daftar-modal {
        scale: 0;
    }

    .back {
        display: none;
    }

    .h-b {
        display: none;
    }
}  

@media screen and (max-width: 1023px) {
    .navigation-bar {
        height: 100px;
        width: 100vw;
        background: white;
        min-height: 0px;
        justify-content: space-between;
        padding: 20px;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        z-index: 100;
        padding-left: 10%;
        padding-right: 10%;
    }

    .h-b {
        display: block;
    }

    .right-side-nav {
        position: relative;
        display: flex;
        justify-content: end;
        align-items: center;
        height: 100%;
    }

    .right-side-nav > img {
        display: none;
    }

    .left-side-nav > h1 {
        font-size: 24px;
        color: #333333;
    }

    .h-b {
        aspect-ratio: 1/1;
        height: 60px;
        border: none;
        border-radius: 4px;
        background: none;
        display: flex;
        flex-direction: column;
        padding: 0px;
        justify-content: space-between;
    }
    
    .h-b:hover {
        cursor: pointer;
    }

    .h-b > div {
        margin: 0px;
        width: 100%;
        background: #DDDDDD;
        height: 20%;
        border-radius: 4px;
    }

    .left-side-nav {
        display: flex;
        width: fit-content;
        align-items: center;
        margin: 0px;
    }

    .back {
        display: block;
    }

    .modal > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .modal > div > div,  .modal > div > a {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .modal > div > a {
        padding: 10px;
        background: #6FAC2D;
        border: none;
        border-radius: 4px;
        font-family: inter;
        color: white;
        text-decoration: none;
        box-sizing: border-box;
    }
    
    .modal > div > h2 {
        color: #333333;
        margin: 20px;
    }
    
    
    .modal > div > div > input{
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        border: #DDDDDD 1px solid;
        border-radius: 4px;
        font-family: inter-medium;
        color: #757575;
        font-size: 14px;
    }
    
    .modal > div > p {
        font-size: 14px;
        font-family: inter-medium;
        margin: 4px;
    }
    
    .modal > div > p > a {
        background: none;
        border: none;
        font-family: inter;
        margin-left: 2px;
        padding: 0px;
    }
    
    .input-field > p{
        margin: 0px;
        align-self: self-start;
        color: #666666;
        margin-bottom: 6px;
        font-size: 14px;
    }

    .menu {
        position: fixed;
        transform: translateY(-200%);
        width: 100%;
        height: 100vh;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: white;
        box-sizing: border-box;
        padding: 10%;
        padding-top: 20%;
    }
    
    .menu > a {
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid gray;
        text-decoration: none;
    }

    #tombol-masuk, #tombol-daftar, .back {
        margin-top: 10px;
        margin-bottom: 10px;
        background: #6FAC2D;
        color: white;
        font-family: inter;
        border: none;
        padding: 10px;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
    }
    
    .navigation-bar {
        height: 100px;
        display: flex;
    }

    #login-modal, #daftar-modal {
        border: 1px gray solid;
        z-index: 100;
        width: 100vw;
        height: fit-content;
        box-sizing: border-box;
        top: 50%;
        transform: translateY(-50%);
        position: fixed;
        padding: 10%;
        background: white;
        left: 0;
    }

}

@media screen and (max-width: 768px) {
    .navigation-bar {
        height: 100px;
        width: 100vw;
        min-height: 0px;
        justify-content: space-between;
        padding: 20px;
        box-sizing: border-box;
    }

    .left-side-nav {
        height: 100%;
        box-sizing: border-box;
        position: relative;
    }
    
    .left-side-nav > h1 {
        font-size: 1.2rem;
        display: none;
    }

    .right-side-nav {
        justify-content: end;
    }

    .left-side-nav > img{
        height: 120%;
    }   

    .h-b {
        width: 40px;
        height: 40px;
    }
}
