body {
    padding: 0px;
    margin: 0px;
}

.section-1 {
    width: 100%;
    height: fit-content;
    min-height: 0vh;
    padding-top: 110px;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    
}


.filter-container {
    margin-top: 25px;
}

.filter-container > a {
    background: none;
}

.btn {
    background: none;
    color: #6FAC2D;
    font-family: inter;
    padding: 10px;
    text-decoration: none;
    border: 1px #6FAC2D solid;
    border-radius: 4px;
}

.btn:hover {
    color: white;
    background-color: #6FAC2D;
}

.section-2 {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    padding-bottom: 100px;
}

.produk-container {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: space-between;
}

.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

}
  
.page-link {
    padding: 10px;
    border: 1px solid gray;
    margin-left: 10px;
    border-radius: 4px;
    text-decoration: none;
}
  
.page-link.active {
    background-color: #6FAC2D;
    color: #fff;
}
  
.page-link:hover {
    background-color: #eee;
    border-color: #ccc;
}
  
.prev-button, .next-button {
    display: flex;
    align-items: center;
    margin-left: 10px;
    border: none;
    background: none;
}
  
.prev-button:hover, .next-button:hover {
    color: #0088ff;
}



@media screen and (max-width: 1023px) {
    .produk-container {
        grid-template-columns: repeat(3, 1fr);
    }

    
}

@media screen and (max-width: 767px) {
    .produk-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-2, .section-1 {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 448px) {

    .section-1, .section-2 {
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
    }

    .produk-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0px;
    }
}

.filter-active {
    background: #6FAC2D;
    color: white;
}